
/*estilo de ejercitacion responsive*/
* {
    font-weight:bold;  
    color:white;

}

#primera{
width: 100px;
height: 50px;
background-color:red;
margin:auto;
padding:10px;
border:3px solid;
float:left;
}
#segunda{
    
    float:left;
    }

    

#tercera{
    width: 430px;
    height: 50px;
    border:3px solid;
    background-color: blue;
    margin:auto;
    padding:10px;
    float:left;  
    
}
    
body{
        background:grey;
    }
/*@media only screen and (max-width: 600px) {
        body {
          background-color: lightcoral;
                }
      }*/    
h1,h2{
    text-align: center;
    color:whitesmoke;
}
   table{
width:500px;
    margin:auto;
 margin-top:25px;
}
tr:nth-child(2n){
    background-color: #DEEEE4;
    
}
tr:nth-child(2n+1){
    background-color: #A1CEB0;
}
th{
    padding:10px;
    color:#ffffff;
    background:#059836;
 
}
td:nth-child(1),td:nth-child(3){
   text-align:center; 
}
td:nth-child(2){
    text-align: left;
}