<<<<<<< HEAD
*{
          margin:0;
          padding:0;
          background-color:pink
}
          
=======
*{
          margin:0;
          padding:0;
          background-color:pink
}
          
>>>>>>> 23b5665aae2757a97bbcc2b9a9f9148a4650e03b
  